<!DOCTYPE html>
<html lang="en">
<head>
  {% include head.html %}
  <link rel="stylesheet" href="{{ '/assets/styles/home.css' | relative_url }}" />
  <title>{{ site.github.project_title }}</title>
</head>
<body>
  <div class="container center">
    <img src="assets/images/icon.png" id="app-icon" />
    <h1 id="app-title">{{ site.github.project_title }}</h1>
    <p id="app-caption">{{ site.github.project_tagline }}</p>
    <img src="{{ '/assets/images/ss1.png' | relative_url }}" class="screen-shot" />
    <div class="buttons">
      {% assign releases = site.github.releases | where: "prerelease", false | where: "draft", false | sort: "created_at" | reverse %}
      {% assign release = releases.first %}
      {% assign asset = release.assets.first %}
      {% assign version = release.tag_name | split: 'b' | first %}
      <a href="{{ asset.browser_download_url }}" class="button blue">
        <i class="fa-solid fa-download"></i>
        Download {{ version }}
      </a>
      <!--<a href="{{ site.github.repository_url }}" class="button black">
        <i class="fa-brands fa-github"></i>
        GitHub
      </a>-->
    </div>
    <p class="caption">
      Requires macOS 13.0 Ventura or later.
    </p>
    <p class="caption">
      <a href="./changelog">Changelog</a>
    </p>
    <div class="features">
      <h2>Features</h2>
      <div class="feature">
        <img src="{{ '/assets/images/ss2.png' | relative_url }}" class="screen-shot" />
        <div class="content">
          <h3>
            <i class="fa-solid fa-gear"></i>
            Customizable Menu
          </h3>
          <p>You can easily manage disks, not only to eject them, but also to check detailed information.</p>
        </div>
      </div>
      <div class="feature reverse">
        <img src="{{ '/assets/images/notification.png' | relative_url }}" class="screen-shot" />
        <div class="content">
          <h3>
            <i class="fa-solid fa-bell"></i>
            Notifications
          </h3>
          <p>Like in Windows, it sends notifications after a volume mounted or ejected.</p>
        </div>
      </div>
      <div class="feature">
        <img src="{{ '/assets/images/touchbar.png' | relative_url }}" class="screen-shot" />
        <div class="content">
          <h3>
            <i class="fa-solid fa-laptop"></i>
            Touch Bar Support
          </h3>
          <p><b>Eject Key is back in the corner of your keyboard!</b></p>
          <p>This virtual key is available on models of the MacBook Pro with Touch Bar.</p>
        </div>
      </div>
      <div class="feature reverse">
        <img src="{{ '/assets/images/dmg-alert.png' | relative_url }}" class="screen-shot" />
        <div class="content">
          <h3>
            <i class="fa-solid fa-trash-can-arrow-up"></i>
            Trash .dmg Files
          </h3>
          <p class="experimental">
            <i class="fa-solid fa-flask"></i>
            Experimemental
          </「>
          <p>Show the button to trash the original .dmg file when the disk image is ejected.</p>
        </div>
      </div>
      <div class="feature">
        <img src="{{ '/assets/images/apps-alert.png' | relative_url }}" class="screen-shot" />
        <div class="content">
          <h3>
            <i class="fa-solid fa-laptop-file"></i>
            Find Culprit Apps
          </h3>
          <p class="experimental">
            <i class="fa-solid fa-flask"></i>
            Experimemental
          </「>
          <p>When a volume fails to be ejected, it lists the apps currently using the volume and shows a batch quit button.</p>
        </div>
      </div>
    </div>
  </div>
</body>
</html>